# SPDX-License-Identifier: Apache-2.0
# Licensed to the Ed-Fi Alliance under one or more agreements.
# The Ed-Fi Alliance licenses this file to you under the Apache License, Version 2.0.
# See the LICENSE and NOTICES files in the project root for more information.

name: "On Pull Request - Bidirectional Character Scanner"

on:
  pull_request:
    branches:
      - main
    paths:
      - ".github/on-pullrequest-bidi.yml"
      - ".github/after-pullrequest-bidi.yml"
      - "bidi-scanner/**/*"
  workflow_dispatch:

permissions: read-all

jobs:
  lint-and-test-cli:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: bidi-scanner/cli
    steps:
      - name: Checkout the Actions repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: bidi-scanner/cli/package-lock.json

      - name: Install dependencies
        run: |
          npm ci
          pushd ../lib
          npm ci
          popd

      - name: Run linter
        run: npm run lint

      - name: Run tests
        run: npm run test:ci

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: Test Results
          path: ./bidi-scanner/cli/junit.xml

  lint-lib:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: bidi-scanner/lib
    steps:
      - name: Checkout the Actions repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: bidi-scanner/cli/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

  lint-github:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: bidi-scanner/github
    steps:
      - name: Checkout the Actions repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 18
          cache: 'npm'
          cache-dependency-path: bidi-scanner/cli/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run linter
        run: npm run lint

      - name: Run build
        # Does not save the results - just confirm that the build succeeds
        run: npm run build

  event_file:
    name: Upload Event File
    runs-on: ubuntu-latest
    steps:
    - name: Upload
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: Event File
        path: ${{ github.event_path }}
